<!DOCTYPE html>
<html>
<head>
  <link href="style.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <div id="app">
        
        <v-app>
            <v-main>
                <v-container fluid class="fill-height background" style="width:100vw;">
                    <v-app-bar
                    elevation="0" class="topbox"
                        >

                        <h1><a href="index.html" style="text-decoration: none;" class="logo">RE:LEARN</a></h1>
                        <v-spacer></v-spacer>
                        
                        <v-btn rounded style="background-color: #f1f1f1;" @click="locationChange('create.html')">
                            <a href="create.html" class="menuItem">Create</a>
                        </v-btn>

                    </v-app-bar>
                    <v-row style="height: 80vh;">
                        <v-col offset-md="0" md="3" align="left" class="leftbar" style="border-right: 1px solid #d1d1d1">
                            <v-row style="height: 10vh;">
                                <v-col offset-md="2" md="9">
                                    <h1 style="font-size: 5vw;" class="text-center">Edit</h1>
                                </v-col>
                            </v-row>
                            <v-row style="height:5vh"></v-row>
                            <v-row>
                                <v-col offset-md="2" md="9">
                                    <v-text-field v-model="code" placeholder="Code">
                                    </v-text-field>
                                    <v-text-field v-model="pass" placeholder="Password">
                                    </v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col offset-md="2" md="9">
                                    <v-btn rounded block style="background-color: #f1f1f1;" @click="search" large>
                                        <a>Submit</a>
                                    </v-btn>
                                    <p></p>
                                    <v-btn rounded block style="background-color: #f1f1f1;" @click="create" large>
                                        <a>Save Changes</a>
                                    </v-btn>
                                    <p></p>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col offset-md="2" md="9">
                                    <v-btn
                                    @click="forgot"
                                    block
                                    elevation="0">
                                    Recover set info</v-btn>
                                </v-col>
                            </v-row>

                        </v-col>
                        <v-col md="9">
                                <table>
                                    <tbody>
                                        <tr v-for="(key, index) in deck">
                                            <td>        
                                                <v-text-field v-model="key.id" placeholder="Key" id="k" style="margin-right: 3vh;">
                                                </v-text-field>
                                            </td>
                                            <td>        
                                                <v-text-field @keyup.enter="addData" v-model="key.value" placeholder="Value" style="width: 40vh;">
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-btn floating 
                                                class="mx-2"
                                                fab
                                                dark
                                                small
                                                color="primary"
                                                style="box-shadow: none; background-color: transparent!important; color: black;"
                                                @click="deletedata(index)">
                                                    <v-icon>
                                                        mdi-delete
                                                    </v-icon>
                                                </v-btn>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                        </v-col>
                </v-container>
            </v-main>
        </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
        data: {
            code: "",
            pass: "",
            deck: [],
            save:""
        },
      mounted: function(){
      },
    methods: {
        locationChange(href){
            location.href=href
          },
        search: function(){
            const url = `https://re-learn-server.dho6342568911.repl.co/get?code=${this.code}&mode=edit&pass=${this.pass}`
            fetch(url).then(response => {
                return response.json()}).then(
                    data => {
                        console.log(data)
                        if (data["error"] == "error"){
                            location.href="error.html"
                        }
                        this.deck = data["deck"];
                        document.body.style.opacity = 1;
            })
        },
        forgot: function(){
            location.href="forgot.html"
        },
        addData: function () {
        this.deck.unshift({ id: '',value:'' });
        document.getElementById('k').focus();
        console.log(this.deck)
        },
        deletedata: function (index){
            this.deck.splice(index, 1);
        },
        create: function () {
            const data = {
                "deck": this.deck
            }
            fetch(`https://re-learn-server.dho6342568911.repl.co/edit?code=${this.code}`, {
                method: 'POST',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
                });
            var currentdate = new Date(); 
            var datetime = "Last Save: " + currentdate.getDate() + "/"
                            + (currentdate.getMonth()+1)  + "/" 
                            + currentdate.getFullYear() + " @ "  
                            + currentdate.getHours() + ":"  
                            + currentdate.getMinutes() + ":" 
                            + currentdate.getSeconds();
            }
        }
      })
  </script>

  <style>
      a {
          color:black !important;
          font-family: serif;
      }
  </style>

</body>

</html>
